<div class="text-center single-item" (click)="goToSingle(product.id)">
    <h2>{{ product.title }}</h2>

    <div class="flex-center">
        <quill-view-html [content]="product.photo"></quill-view-html>
    </div>

    <h2>Price: {{product.price}}</h2>
    <div class="product-buttons">
        <button [routerLink]="['/product', product.id]" class='btn btn-dark view-btn'>Open</button>
        <button class='btn btn-dark' [routerLink]="['/cart']" (click)="addProduct(product)">Add to Cart</button>
    </div>
</div>
