.single-item {
    cursor: pointer;
    ::ng-deep {
        .ql-snow .ql-editor img {
            cursor: pointer;
        }
    }
    .product-buttons {
        display: flex;
        flex-direction: column;
        .view-btn {
            margin-bottom: 10px;
        }
    }
}