.product {
    .header {
        display: flex;
        align-items: center;
    }
    .main-block {
        justify-content: center;
    }

    h2 {
        margin-bottom: .5rem;
    }
}

.flex {
    display: flex;
}

.item {
    width: 50%;
}